/**************************
 * Div Truth Admin Styles
 **************************/
.DT_title {
  font-weight: bold; }

#wp-admin-bar-wp-logo > .ab-item .ab-icon,
#wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
  background: url(../images/admin-logo.png) no-repeat center center;
  background-size: 20px 20px; }

#toplevel_page_acf-options-theme-settings {
  display: none !important; }

#wpwrap {
  /*margin-top: -28px;*/
  margin-top: 10px; }

.repeater .widefat th.image {
  width: 40px !important; }

.repeater .widefat th.link {
  width: 225px !important; }

.repeater .widefat th.action {
  width: 225px !important; }

#mp-single-statuses.misc-pub-section {
  text-align: center;
  font-size: 5px;
  color: #fff; }

#mp-single-statuses.misc-pub-section span {
  clear: both;
  display: block; }

#mp-single-statuses.misc-pub-section span.current,
#mp-single-statuses.misc-pub-section span a {
  display: block;
  padding: 10px 0;
  background: #222;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-size: 15px; }

#mp-single-statuses.misc-pub-section span.current {
  background: #c00; }

a.add-new-h2 {
  background: #c00;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

.widefat th.column-sales,
.widefat td.column-sales,
.widefat th.column-stock,
.widefat td.column-stock {
  width: 90px; }

.wrap .add-new-h2 {
  background: #c00 !important;
  color: #fff !important;
  padding: 10px 20px !important;
  font-size: 13px !important;
  text-shadow: 0px 1px 1px #fcc; }

.red {
  color: #bd362f; }

.green {
  color: #46a546; }

.form-table td,
p.help, p.description, span.description, .form-wrap p {
  font-size: 13px; }

input.button-primary {
  -moz-border-bottom-colors: none !important;
  -moz-border-image: none !important;
  -moz-border-left-colors: none !important;
  -moz-border-right-colors: none !important;
  -moz-border-top-colors: none !important;
  border-radius: 4px 4px 4px 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05) !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-size: 13px !important;
  line-height: 18px !important;
  height: 45px !important;
  margin-bottom: 0 !important;
  padding: 8px 20px !important;
  text-align: center !important;
  vertical-align: middle !important;
  color: #FFFFFF !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
  background-color: #0074CC !important;
  background-image: -moz-linear-gradient(center top, #0088cc, #0055cc) !important;
  background-repeat: repeat-x !important;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) !important; }

ul.list {
  list-style: disc;
  list-style-type: disc;
  margin-left: 2em; }

#mp-order-shipping-info table {
  width: 100%; }

#mp-order-shipping-info table tr td {
  padding: 5px;
  border-bottom: 1px solid #dedede; }

#mp-order-products p,
#mp-order-shipping-info p {
  font-size: 18px;
  font-weight: bold; }

.wrap {
  padding: 10px;
  background: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px; }

.wrap.frontpage_tools td input {
  width: 100%; }

.widefat tr.status-order_received td a.mp_order_status {
  background: none; }

.widefat tr.status-order_paid td a.mp_order_status {
  background: none; }

.widefat tr.status-order_shipped td a.mp_order_status {
  background: none; }

#adminmenuwrap {
  bottom: 45px;
  left: 0;
  position: relative;
  right: 0;
  top: 0px;
  overflow: visible; }

#adminmenu li.wp-menu-open {
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #FFFFFF;
  margin: 0; }

#adminmenu li.menu-top > a,
.postbox .hndle,
#poststuff h3, .metabox-holder h3 {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top, whitesmoke, #eeeeee);
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
  text-shadow: 0 1px 0 #FFFFFF; }

#adminmenu li.menu-top:hover > a, #adminmenu li.menu-top.focused > a, #adminmenu li.menu-top > a:focus,
.postbox .hndle,
#poststuff h3, .metabox-holder h3 {
  background-color: #F5F5F5;
  background-image: -moz-linear-gradient(center top, whitesmoke, #eeeeee);
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
  text-shadow: 0 1px 0 #FFFFFF; }

#adminmenu li.menu-top:hover > a, #adminmenu li.menu-top.focused > a, #adminmenu li.menu-top > a:focus {
  background-color: #808080;
  background-image: -moz-linear-gradient(center top, gray, #6d6d6d);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 #333333; }

#adminmenu a.menu-top {
  font-weight: normal; }

#adminmenu a, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
  color: #333; }

#adminmenuback, #adminmenuwrap, #adminmenu, #adminmenu .wp-submenu, #adminmenu .wp-submenu-wrap, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
  width: 300px; }

#wpcontent, #footer {
  margin-left: 305px !important; }

.wp-menu-arrow {
  display: none !important; }

#adminmenu li .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu {
  left: 300px; }

#adminmenu li.wp-menu-separator {
  display: none; }

#wpadminbar {
  padding: 5px;
  background: #222;
  height: 38px; }

#wpwrap {
  top: 9px; }

#wpadminbar .quicklinks > ul > li {
  border: none; }

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus,
#wpadminbar .ab-top-secondary {
  background: none;
  background: transparent; }

#adminmenu .wp-submenu li {
  font-style: italic;
  padding-left: 10px; }

#adminmenu .wp-submenu a {
  font-size: 14px;
  padding: 12px 12px 12px 20px;
  border-bottom: 1px solid #f2f2f2;
  color: #666; }

.wp-menu-image {
  /*display: none;*/
  margin-left: -10px;
  margin-right: 5px; }

.folded .wp-menu-image {
  display: inline; }

@media screen and (max-width: 900px) {
  .wp-menu-image {
    display: inline; } }
#adminmenuback, #adminmenuwrap {
  background-color: #f5f5f5; }

.folded #adminmenu .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu {
  left: 32px; }

.folded #wpcontent, .folded #footer {
  margin-left: 52px !important; }

#wpfooter {
  position: fixed;
  width: 100%;
  margin: 0px;
  background: #EEE;
  padding: 10px 20px; }

#wpfooter p {
  margin-right: 40px; }

.folded #adminmenuback, .folded #adminmenuwrap, .folded #adminmenu, .folded #adminmenu li.menu-top {
  width: 57px; }

.folded #wpcontent, .folded #wpfooter {
  margin-left: 58px;
  width: 94%; }

.wp-core-ui .button.failed {
  background: #D14343;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d14343), to(#bf2c2c));
  background-image: -webkit-linear-gradient(top, #d14343, #bf2c2c);
  background-image: -moz-linear-gradient(top, #d14343, #bf2c2c);
  background-image: -o-linear-gradient(top, #d14343, #bf2c2c);
  background-image: linear-gradient(to bottom, #d14343, #bf2c2c);
  border-color: #bbb;
  color: #fff;
  font-size: 13px;
  padding: 3px 20px;
  height: 30px;
  margin: 5px; }

.wp-core-ui .button.success {
  background: #4CA14D;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4ca14d), to(#3a943b));
  background-image: -webkit-linear-gradient(top, #4ca14d, #3a943b);
  background-image: -moz-linear-gradient(top, #4ca14d, #3a943b);
  background-image: -o-linear-gradient(top, #4ca14d, #3a943b);
  background-image: linear-gradient(to bottom, #4ca14d, #3a943b);
  border-color: #bbb;
  color: #fff;
  font-size: 13px;
  padding: 3px 20px;
  height: 30px;
  margin: 5px; }

.wp-core-ui .button.warning {
  background: #EDDA45;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edda45), to(#d6c547));
  background-image: -webkit-linear-gradient(top, #edda45, #d6c547);
  background-image: -moz-linear-gradient(top, #edda45, #d6c547);
  background-image: -o-linear-gradient(top, #edda45, #d6c547);
  background-image: linear-gradient(to bottom, #edda45, #d6c547);
  border-color: #bbb;
  color: #fff;
  font-size: 13px;
  padding: 3px 20px;
  height: 30px;
  margin: 5px; }

.wp-core-ui .button.waived {
  background: #8FCC90;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8fcc90), to(#97bf98));
  background-image: -webkit-linear-gradient(top, #8fcc90, #97bf98);
  background-image: -moz-linear-gradient(top, #8fcc90, #97bf98);
  background-image: -o-linear-gradient(top, #8fcc90, #97bf98);
  background-image: linear-gradient(to bottom, #8fcc90, #97bf98);
  border-color: #bbb;
  color: #fff;
  font-size: 13px;
  padding: 3px 20px;
  height: 30px;
  margin: 5px; }

th.column-event_design, .column-event_design {
  width: 60px;
  text-align: center; }

/**************************
 * Social Media Checkboxes
 **************************/
#acf_acf_social-media-details #acf-social_options .checkbox {
  overflow: hidden;
  display: block; }
  #acf_acf_social-media-details #acf-social_options .checkbox li {
    float: left;
    margin-right: 5px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li input {
      display: none; }
    #acf_acf_social-media-details #acf-social_options .checkbox li label {
      background: url(../images/social-sprite-white.png) no-repeat #cccccc;
      width: 30px;
      height: 30px;
      display: block;
      padding: 0 0 0 0px;
      border-radius: 50%;
      text-indent: -9999px; }
      #acf_acf_social-media-details #acf-social_options .checkbox li label:hover {
        background-color: #666; }
      #acf_acf_social-media-details #acf-social_options .checkbox li label.active {
        background-color: #333; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(1) label {
      background-position: -404px -4px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(2) label {
      background-position: -44px -4px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(3) label {
      background-position: -284px -4px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(4) label {
      background-position: -484px -4px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(5) label {
      background-position: -85px -5px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(6) label {
      background-position: -244px -5px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(7) label {
      background-position: -124px -5px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(8) label {
      background-position: -164px -4px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(9) label {
      background-position: -4px -5px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(10) label {
      background-position: -204px -4px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(11) label {
      background-position: -325px -5px; }
    #acf_acf_social-media-details #acf-social_options .checkbox li:nth-child(12) label {
      background-position: -525px -5px; }

h2 .title {
  font-family: serif;
  font-size: 12px;
  font-style: italic;
  color: #999; }

.dev_block p {
  margin: 3px; }

.dev_block .headshot {
  vertical-align: top;
  padding: 5px;
  border: solid;
  border-color: #dddddd #aaaaaa #aaaaaa #dddddd;
  border-width: 1px 2px 2px 1px;
  background-color: #fff;
  margin-right: 10px; }

#tutorial_videos ol {
  width: 300px;
  padding: 0 0 10px 35px;
  list-style-type: decimal; }

#tutorial_videos li {
  list-style-type: decimal;
  margin-bottom: 10px; }

#tutorial_videos a {
  text-decoration: none;
  color: #333; }

.video {
  font-size: 16px !important; }
